# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore trained models
*.pkl


# Ignore VS Code settings
.vscode/

classifiers/
classifiers_without_pca/
note.txt